<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>HiddenMenuItems</key>
    <array>
      <string>about</string>
      <string>home</string>
      <string>preferences</string>
      <string>quit</string>
    </array>
    <key>Appearance</key>
    <dict>
      <key>ShowWelcomeWindow</key>
      <false/>
    </dict>
    <key>IdPSettings</key>
    <dict>
      <key>ChangePasswordURL</key>
      <string>https://myaccount.bauermedia.co.uk</string>
      <key>DiscoveryURL</key>
      <string>https://sts2.bauermedia.co.uk/adfs/.well-known/openid-configuration</string>
      <key>Provider</key>
      <string>Custom</string>
      <key>ROPGID</key>
      <string>9ba978ca-5fd7-4594-9700-30ea857ecd73</string>
      <key>ResetPasswordURL</key>
      <string>https://myaccount.bauermedia.co.uk</string>
    </dict>
    <key>Kerberos</key>
    <dict>
      <key>AskForShortName</key>
      <true/>
      <key>AutoRenewTickets</key>
      <true/>
      <key>Realm</key>
      <string>BAUER-UK.BAUERMEDIA.GROUP</string>
    </dict>
    <key>PasswordPolicies</key>
    <dict>
      <key>ExpirationCountdownStartDay</key>
      <integer>30</integer>
      <key>ExpirationNotificationStartDay</key>
      <integer>15</integer>
      <key>NetworkCheck</key>
      <integer>15</integer>
      <key>PolicyMessage</key>
      <string>This password does not meet the minimum password complexity requirements.</string>
      <key>SyncPasswordsMessage</key>
      <string>Your Network password is not the same as your local account password. Please enter your local account password so that they can be synced.</string>
    </dict>
    <key>SignIn</key>
    <dict>
      <key>AutoAuthenticate</key>
      <true/>
      <key>SignInLogo</key>
      <string>/usr/local/BauerMediaGroup/Jamf Connect/Bauer-Logo-JC.png</string>
      <key>WindowTitle</key>
      <string>Sign In</string>
    </dict>
    <key>UserHelp</key>
    <dict>
      <key>HelpOptions</key>
      <string>https://itservicedesk.bauerservices.co.uk/WebAccess/</string>
      <key>HelpType</key>
      <string>URL</string>
    </dict>
  </dict>
</plist>