<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>viewTitle</key>
	<string>Bauer Media Group</string>
	<key>viewInstructions</key>
	<string>Our management server does not have a valid recovery key for this device. Please enter the username and password you use to unlock this Mac.</string>
	<key>viewLogoPath</key>
	<string>/usr/local/bauer/loginwindow/Bauer-Logo-icons1.png</string>
	<key>suppressRecoveryKey</key>
	<false/>
	<key>usernamePlaceholder</key>
	<string>Username</string>
	<key>passwordPlaceholder</key>
	<string>Password</string>
    <key>moreInformationText</key>
    <string>Bauer Media Group uses the recovery key in our management servers to securely and safely enable your machine to unlock in the event your device has trouble unlocking.</string>
  </dict>
</plist>
